<div class="animated fadeIn">
  <!-- /.row -->

  <div class="row">
    <div class="col-md-9">
      <div class="form-group row">
        <div class="col-md-12">
          <div class="input-group">
            <input
              type="text"
              id="input1-group2"
              name="input1-group2"
              class="form-control"
              placeholder="Search Text"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Issue Details
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Reporter</th>
                    <th>Date Reprted</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="singleIssue"
                    *ngFor="let issue of issues"
                    (click)="goToEditissue(issue.issueId)"
                  >
                    <td>{{ issue.title }}</td>
                    <td>
                      {{ issue.reportedBy.firstName }}
                      {{ issue.reportedBy.lastName }}
                    </td>
                    <td>{{ issue.createdAt | date: "mediumDate" }}</td>
                    <td>
                      <span class="badge badge-success">{{
                        issue.status
                      }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#">Prev</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
    </div>
    <div class="col-md-3 card">
      <div class="card-header"><strong>Search Issue</strong></div>
      <div class="card-body">
        <form>
          <div class="input-group mb-4">
            <input
              type="text"
              id="input1-group2"
              name="input1-group2"
              class="form-control"
              placeholder="Title"
            />
            <span class="input-group-prepend">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
          <div class="input-group mb-4">
            <input
              type="text"
              id="input1-group2"
              name="input1-group2"
              class="form-control"
              placeholder="Reporter"
            />
            <span class="input-group-prepend">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
          <div class="input-group mb-4">
            <input
              type="date"
              id="input1-group2"
              name="input1-group2"
              min="Date()"
              class="form-control"
              placeholder="Date"
            />
            <span class="input-group-prepend">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
          <div class="input-group mb-4">
            <select id="select1" name="select1" class="form-control">
              <option value="inProgress">In Progress</option>
              <option value="inTest">In Test</option>
              <option value="done">Done</option>
              <option value="backlog">Backlog</option>
            </select>
            <span class="input-group-prepend">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
