<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header row justify-content-between mx-4">
          <div><strong>Edit Issue</strong></div>
          <button
            type="reset"
            class="btn btn-sm btn-primary"
            *ngIf="!watcher"
            (click)="followIssue()"
          >
            Follow
          </button>

          <button
            type="reset"
            class="btn btn-sm btn-primary"
            *ngIf="watcher"
            (click)="unFollowIssue()"
          >
            Un-Follow
          </button>
        </div>
        <div class="card-body">
          <form [formGroup]="editIssueForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder="Enter Title"
                    formControlName="title"
                  />
                </div>
              </div>
            </div>
            <!-- /.row -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Assign to</label>
                  <input
                    type="text"
                    class="form-control typeahead border-primary"
                    id="typeahead-basic"
                    formControlName="assignedTo"
                    [ngbTypeahead]="search"
                  />
                </div>
              </div>
            </div>
            <!-- /.row -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">Give details about the issue</label>
                  <textarea
                    rows="8"
                    [froalaEditor]="froalaOptions"
                    formControlName="description"
                  ></textarea>
                </div>
              </div>
            </div>
            <!-- /.row -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccmonth">Status</label>
                  <select
                    class="form-control"
                    id="ccmonth"
                    formControlName="status"
                  >
                    <option value="inProgress">In Progress</option>
                    <option value="inTest">In Test</option>
                    <option value="done">Done</option>
                    <option value="backlog">Backlog</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- /.row -->
            <div class="card-footer ml-auto">
              <button type="reset" class="btn btn-sm btn-danger">
                <i class="fa fa-ban"></i> Reset
              </button>
              <button type="submit" class="btn btn-sm btn-primary ml-2">
                <i class="fa fa-edit"></i> Update
              </button>
              <button
                type="button"
                class="btn btn-sm btn-primary"
                style="float:right;margin-top:1em;"
                data-toggle="modal"
                data-target="#exampleModalCenter"
              >
                <i class="fa fa-trash-o"></i> Remove Issue
              </button>

              <div
                class="modal fade"
                id="exampleModalCenter"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">
                        Remove Issue "{{ title }}"
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to remove this issue parmanently?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removeIssue()"
                      >
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- /.col -->
    <div class="col-md-4">
      <div class="detailBox">
        <div class="titleBox"><label>Comments</label></div>
        <div class="commentBox">
          <p class="taskDescription">
            <!-- <b>{{ comments.length }} <span>comments</span></b> -->
          </p>
        </div>
        <div class="actionBox">
          <ul class="commentList">
            <li *ngFor="let comment of comments">
              <div class="commentText" style="width:22em;">
                <div>
                  <p class="">{{ comment.comment }}</p>
                  <span class="date sub-text">{{
                    comment.createdAt | date: "medium"
                  }}</span>
                  <br />
                  <small
                    >Commented By: {{ comment.commentedBy.firstName }}
                    {{ comment.commentedBy.lastName }}</small
                  >
                </div>
              </div>
              <div
                data-toggle="modal"
                data-target="#commentModalCenter"
                style="cursor: pointer;"
                (click)="onCommentDeleteBtnClicked(comment.commentId)"
              >
                <i class="fa fa-trash"></i>
              </div>
            </li>
          </ul>
          <form
            class="form-inline"
            role="form"
            [formGroup]="commentForm"
            (ngSubmit)="onCommentSubmit()"
          >
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Your comments"
                formControlName="comment"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-default" type="submit">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <!-- /.row -->

    <div
      class="modal fade"
      id="commentModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Remove Comment
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to remove this comment parmanently?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
              (click)="onRemoveComment()"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
