<div class="animated fadeIn">
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12" style="padding-right:0;">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Issue Details
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Title</th>
                <th>Reporter</th>
                <th>Date Reprted</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="singleIssue"
                *ngFor="let issue of issues"
                (click)="goToEditissue(issue.issueId)"
              >
                <td>{{ issue.title }}</td>
                <td>
                  {{ issue.reportedBy.firstName }}
                  {{ issue.reportedBy.lastName }}
                </td>
                <td>{{ issue.createdAt | date: "mediumDate" }}</td>
                <td>
                  <span class="badge badge-success">{{ issue.status }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="totalPages > 1">
            <ul class="pagination">
              <li class="page-item">
                <div class="page-link" (click)="getAllIssues(currentPage - 1)">
                  Prev
                </div>
              </li>
              <li [ngClass]="{ 'page-item': true, active: currentPage == 1 }">
                <div
                  [ngClass]="{ 'page-link': true }"
                  (click)="getAllIssues(1)"
                >
                  1
                </div>
              </li>
              <li [ngClass]="{ 'page-item': true, active: currentPage == 2 }">
                <div class="page-link" (click)="getAllIssues(2)">2</div>
              </li>
              <li [ngClass]="{ 'page-item': true, active: currentPage == 3 }">
                <div class="page-link" *ngIf="currentPage > 3">...</div>
              </li>
              <li
                [ngClass]="{
                  'page-item': true,
                  active: currentPage == currentPage
                }"
              >
                <div
                  class="page-link"
                  *ngIf="currentPage > 2 && totalPages > currentPage"
                >
                  {{ currentPage }}
                </div>
              </li>
              <li [ngClass]="{ 'page-item': true }">
                <div
                  class="page-link"
                  *ngIf="totalPages > 3 && totalPages - 1 > currentPage"
                >
                  ...
                </div>
              </li>
              <li
                [ngClass]="{
                  'page-item': true,
                  active: currentPage == totalPages
                }"
              >
                <div
                  class="page-link"
                  *ngIf="totalPages > 4"
                  (click)="getAllIssues(totalPages)"
                >
                  {{ totalPages }}
                </div>
              </li>
              <li class="page-item">
                <div class="page-link" (click)="getAllIssues(currentPage + 1)">
                  Next
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
